/* Conteneur principal pour la page */
.page-container-pre {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

/* Contenu principal */
.main-content-pre {
    display: flex;
    flex: 1;
    overflow: hidden;
}

/* Contenu de la page */
.content-pre {
    flex: 1;
    margin-left: 250px;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* En-tête */
.header-pre {
    text-align: center;
    margin-bottom: 20px;
}

/* Titre de l'en-tête */
.urb-h1-pre {
    font-size: 2rem;
    color: #333;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #d9e0e6, #f0f4f8);
    padding: 10px;
    border-radius: 5px;
    margin: 15px 0;
    margin-top: 80px;
    font-family: 'Roboto', sans-serif; /* Application de la police Roboto */
}

/* Section pour les entrées utilisateur */
.input-section-pre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

/* Barre d'outils pour les entrées */
.input-toolbar-pre {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 500px;
}

/* Style des champs de texte */
input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
  
input[type="text"]:focus {
    border-color: #4f73e6;
    box-shadow: 0 0 10px rgba(79, 115, 230, 0.3);
}
  
/* Style des boutons */
.btnpre {
    padding: 10px 20px;
    background-color: #335ac4;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: -5px;
}
  
button:hover {
    background-color: #4f73e6;
    transform: scale(1.05);
}
  
button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
  
/* Conteneur des graphiques */
.chart-container-pre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
  
/* Élément de graphique */
.chart-item-pre {
    background: #f3efef;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1;
    max-width: 800px;
    height: 450px;
    max-width: 98%;
}

.chart-item-pre:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Titre des graphiques */
.chart-title-pre {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
}

/* Réponse pour l'erreur ou le chargement */
.error-message-pre {
    color: red;
    text-align: center;
    margin-top: 20px;
}
  
.loading-message-pre {
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
    color: #333;
}

.chart-with-legend {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chart-with-legend .recharts-legend-wrapper {
    margin-left: 20px;
}

