/* src/styles/Analyse/Map.css */

.map-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 270px;
    background: #f0f2f5; /* Couleur de fond moderne */
}

.map {
    flex: 1; /* Occupe toute la hauteur restante */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre portée pour un effet 3D */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-height: 500px;
}

.map:hover {
    transform: scale(1.02); /* Effet de zoom au survol */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.content-container {
    margin: 20px 12px; /* Marge ajustée pour un espacement uniforme */
    padding: 15px;
    background: #ffffff; /* Couleur de fond blanche pour le contraste */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

@keyframes glowPulse {
    0% {
        text-shadow: 0 0 5px #81c784, 0 0 10px #81c784, 0 0 20px #81c784, 0 0 40px #81c784;
        transform: scale(1);
    }
    50% {
        text-shadow: 0 0 10px #aed581, 0 0 20px #aed581, 0 0 30px #aed581, 0 0 60px #aed581;
        transform: scale(1.05);
    }
    100% {
        text-shadow: 0 0 5px #81c784, 0 0 10px #81c784, 0 0 20px #81c784, 0 0 40px #81c784;
        transform: scale(1);
    }
}

.h1-m {
    background-color: #d8e7d9; /* Couleur de fond douce */
    padding: 12px;
    border-radius: 8px; /* Coins arrondis */
    margin-bottom: 20px; /* Marge inférieure pour séparer du contenu */
    color: #204e26; /* Couleur du texte */
    text-align: center; /* Alignement du texte */
    margin-top: 50px;
    font-family: 'Lobster', cursive;
    margin-left: 25px;
    margin-right: 25px;
    animation: glowPulse 5s infinite ease-in-out; /* Animation */
}


button {
    margin: 10px 0;
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Effet de zoom au survol */
}

button:active {
    background-color: #004085; /* Couleur plus sombre pour l'état actif */
    transform: scale(0.98); /* Réduction au clic */
}

.legend {
    background: white;
    padding: 6px 8px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    line-height: 18px;
    color: #555;
    font-family: 'calibri', cursive;
    line-height: 1.5; 
  
}

.legend h4 {
    margin: 0 0 5px;
    font-size: 16px;
}

.legend i {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.legend span {
    display: inline-block;
    margin-bottom: 2px;
}


.toolbar {
    display: flex;
    align-items: center;
    gap: 20px; /* Espace entre le bouton et la barre de recherche */
    margin-top: 20px;
}

.search-bar-container{
    margin-top: 16px;
    width: 300px;
}

.refresh-button {
    height: 40px; /* Ajustez cette valeur pour correspondre à la hauteur de la barre de recherche */
    margin-left: 42.2%;
    width: 12%;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    line-height: 1.5; /* Hauteur de ligne pour un bon alignement vertical */
    display: flex; /* Flexbox pour centrer */
    align-items: center; /* Centre verticalement */
    justify-content: center;
    gap : 10px;
    font-family: 'pacifico', cursive;
}
.draw-button{
    height: 40px; 
    width: 18%;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    line-height: 1.5; /* Hauteur de ligne pour un bon alignement vertical */
    display: flex; /* Flexbox pour centrer */
    align-items: center; /* Centre verticalement */
    justify-content: center;
    transition: background-color 0.3s;
    gap : 10px;
    font-family: 'pacifico', cursive;
}

/* Bouton d'édition spécifique */
.draw-button {
    background-color: #e06500;
}

.draw-button:hover {
    background-color: #c29416;
}



