/* Style général pour la navbar */
.navbar {
  background-color: #c7d4e0;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(233, 228, 228, 0.1);
  z-index: 1000;
  height: 45px;
}

/* Style pour le logo */
.navbar-logo {
  display: flex;
  align-items: center;
  margin-right: auto; /* Espace entre le logo et la barre de recherche */
}

.logo-letter {
  font-size: 1.5rem; /* Taille de la lettre du logo */
  font-weight: bold;
  color: #f39c12;
  margin-right: 8px;
  animation: pulse 1.5s infinite ease-in-out; /* Animation infinie de pulsation */
}

.logo-text {
  font-size: 1.2rem; /* Taille du texte du logo */
  font-weight: 600;
  color: white;
  background: linear-gradient(45deg, #301e08, #72369b, #340d7c, #1e90ff);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 5s ease infinite; /* Animation infinie du dégradé */
}

/* Animation de pulsation pour la lettre du logo */
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
}

/* Animation de dégradé en mouvement pour le texte du logo */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Styles pour les liens de la navbar */
.navbar-links {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pousse les liens vers la droite */
  
}

.navbar-links a {
  text-decoration: none;
  color: rgb(47, 47, 51);
  margin-left: 25px;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
}

.fa-heart {
  background-color: red;
}
