/* Style général pour la navbar */
.navbar {
  background-color: #c7d4e0;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(233, 228, 228, 0.1);
  z-index: 1000;
  height: 45px;
}

/* Style pour le logo */
.navbar-logo {
  display: flex;
  align-items: center;
  margin-right: auto; /* Espace entre le logo et la barre de recherche */
}

.logo-letter {
  font-size: 1.6rem;
  font-weight: bold;
  color: #597481;
  font-family: 'roboto', sans-serif;
  margin-left: 27px;
  animation: pulse 5s infinite ease-in-out; /* Animation infinie de pulsation */
}

/* Animation de pulsation pour la lettre du logo */
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
}

/* Animation de dégradé en mouvement pour le texte du logo */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Styles pour les liens de la navbar */
.navbar-links {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pousse les liens vers la droite */
  
}

.navbar-links a {
  text-decoration: none;
  color: rgb(47, 47, 51);
  margin-left: 25px;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
}

.fa-heart {
  background-color: red;
}

/* Style spécifique pour l'icône de notification */
.navbar-links a#notification {
  position: relative;
}

.navbar-links a#notification::after {
  content: ' ';
  position: absolute;
  top: -5px;
  right: -5px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}