/* Container principale pour la page de comparaison */
.comparison-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    animation: fadeIn 0.5s ease-in-out;
    background-color: #f0f4f8;
    font-family: 'Roboto', sans-serif; /* Application de la police Roboto */
}

.comparison-data {
    margin-top: 18px;
}

/* Contenu principal à côté de la barre latérale */
.content-container-comparison {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    overflow-y: auto;
    margin-left: 255px;
    margin-top: 90px;
    max-height: 100%;
    transition: margin-left 0.3s ease-in-out, margin-top 0.3s ease-in-out;
    font-family: 'Roboto', sans-serif; /* Application de la police Roboto */
}

/* Titre de la page */
.h1-cp {
    background: linear-gradient(90deg, #e0eaff, #c0d6ff);
    color: #2c3e50;
    padding: 15px;
    border-radius: 8px;
    margin: 20px 0;
    animation: bounceIn 0.6s ease-out forwards;
    width: 98%;
    font-family: 'Roboto', sans-serif; /* Application de la police Roboto */
    text-align: center;
}

/* Barre d'outils pour la comparaison */
.comparison-toolbar {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
    animation: slideInLeft 0.6s ease-in-out;
    align-items: center;
}

.comparison-toolbar input,
.comparison-toolbar select,
.comparison-toolbar button {
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
    font-family: 'Roboto', sans-serif; /* Application de la police Roboto */
}

.comparison-toolbar input {
    width: 25%;
    background-color: #ffffff;
}

.comparison-toolbar select {
    width: 20%;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comparison-toolbar select:hover {
    background-color: #e6e6e6;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.comparison-toolbar select:focus {
    outline: none;
    background-color: #fff;
}

.comparison-toolbar button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 20%;
    margin-top: -5px;
}

.comparison-toolbar button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Résultats de la comparaison */
.comparison-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Chaque élément comparatif */
.comparison-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    flex: 1;
    min-width: 200px;
    max-width: 300px; /* Ajusté pour un meilleur rendu */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alignement du texte à gauche */
    justify-content: center;
    text-align: left;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    font-family: 'Roboto', sans-serif; /* Application de la police Roboto */
}

.comparison-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background-color: #f0f4f8;
}

/* Title styling */
.comparison-item h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out;
    font-family: 'Roboto', sans-serif; /* Application de la police Roboto */
}

.comparison-item:hover h2 {
    color: #007BFF;
}

/* Paragraph styling */
.comparison-item p {
    font-size: 16px;
    color: #666;
    margin-bottom: 8px;
    transition: color 0.3s ease-in-out;
    font-family: 'Roboto', sans-serif; /* Application de la police Roboto */
}

.data-list-title {
    font-size: 17px;
    text-transform: uppercase;
    color: #1a1414;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.data-item p {
    font-size: 14px;
    color: #444;
}

.comparison-item:hover p {
    color: #444;
}

/* Style pour le graphique */
.chart-container-comparison {
    flex: 1;
    max-width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

/* Animations keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bounceIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Style pour le bouton d'ouverture du menu */
.btn-open-modal {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

/* Styles pour le modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.location-input-group, .coordinate-input-group {
    margin-bottom: 10px;
}

.btn-add, .btn-remove {
    margin: 5px;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.highlight {
    background-color: rgba(255, 223, 0, 0.5); /* Couleur jaune transparente pour la mise en surbrillance */
    border: 2px solid gold;
    border-radius: 8px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.highlight-air-quality {
    background-color: rgba(138, 43, 226, 0.5); /* Violet transparent */
    margin-top: 20px;
    border-radius: 8px;
    padding: 10px;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

.highlight-temperature {
    background-color: rgba(255, 123, 0, 0.5); /* Jaune transparent */
    margin-top: 20px;
    border-radius: 8px;
    padding: 10px;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

.highlight-humidity {
    background-color: rgba(0, 255, 0, 0.5);
    margin-top: 20px;
    border-radius: 8px;
    padding: 10px;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
}
