.discussion-detail {
  padding: 20px;
}

.comments {
  margin-top: 20px;
}

.comments h3 {
  margin-bottom: 10px;
}

.comments ul {
  list-style: none;
  padding: 0;
}

.comments li {
  margin-bottom: 10px;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.btn-dt {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
}

.btn-dt:hover {
  background-color: #0056b3;
}

.comment-icon {
  background-color: #f8f2f2;
  border: none;
  font-size: 1.2rem; /* Taille réduite */
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-right: 10px; /* Espacement entre les icônes */
}

.blue-comment-icon {
  color: #007bff; /* Couleur bleue */
  font-size: 1.3rem; 
}

.emoji-button {
  background-color: #f8f2f2;
  border: none;
  font-size: 1.2rem; /* Taille réduite */
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: -53.5px;
  margin-left: 80px;
  height: 44px;
  width: 70px;
}

.comment-popup {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-top: 10px;
  width: 210px; /* Ajustez la largeur selon vos besoins */
}

.emoji-popup {
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 10px;
}

.emoji-option {
  background: none;
  border: none;
  font-size: 0.8rem; /* Taille réduite */
  cursor: pointer;
  margin: 5px;
  transition: color 0.3s;
  max-width: 62px;
}

strong {
  margin-right: 5px;
}
