/* Style général pour le tableau de bord */
.dasboardCitizen {
  background-size: cover; /* Assurez-vous que l'image couvre toute la zone */
  background-position: center; /* Centrer l'image d'arrière-plan */
  height: 100vh; /* Assure que le tableau de bord occupe toute la hauteur de la fenêtre */
  margin: 0; /* Évitez les marges supplémentaires autour du tableau de bord */
}

/* Conteneur principal du tableau de bord */
.dashboardCitizen {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

/* Conteneur principal avec la sidebar et le contenu */
.main-content-Citizen {
  display: flex;
  margin-top: 67px; /* Hauteur de la navbar */
}

/* Contenu principal, espace pour la sidebar */
.content-Citizen {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px; /* Largeur de la sidebar */
  margin-top: 60px; /* Hauteur de la navbar */
  overflow: auto; /* Permet le défilement si le contenu dépasse */
  margin-top: 1px;
}

/* Styles pour le titre */
.h1-Citizen {
  background-color: #d7dce6;
  padding: 10px;
  border-radius: 5px;
  margin-left: 1px; 
  margin-right: 20px;
  margin-top: 1px;
}
