/* UrbanisteDashboardHome.css */
.urbaniste-dashboard-home {
  font-family: Arial, sans-serif;
  width: 99%;
  opacity: 1; /* Commencer avec l'opacité à 1 pour éviter le flash */
  transition: opacity 0.5s ease; /* Transition pour l'opacité */
}

.dashboard-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-left: 265px;
}

.key-indicators, .projects-overview, .quick-access, .latest-reports {
  background-color: #d5e6e7;
  padding: 15px;
  font-family: 'roboto', sans-serif;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 130px;
  margin-bottom: -118px;
  opacity: 0; /* Commencer avec l'opacité à 0 pour l'animation */
  transform: translateY(20px); /* Déplacement vers le bas pour l'effet d'animation */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transition pour l'opacité et le mouvement */
}

h2 {
  font-size: 1.5em;
}

.indicator, .projects-overview ul, .latest-reports ul {
  list-style: none;
  padding: 0;
}

.indicator p {
  font-size: 1em;
}

.quick-access .access-buttons {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #3498db;
  color: white;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
  border-radius: 5px;
  position: relative; /* Position relative pour l'effet de survol */
  overflow: hidden; /* Pour cacher le débordement d'animation */
}

.button:hover {
  background-color: #2980b9;
  transform: translateY(-3px); /* Légère élévation de bouton */
  transition: transform 0.2s; /* Transition pour l'élévation */
}

.dashboard-link {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #3498db;
}

.dashboard-link:hover {
  text-decoration: underline;
}

.key-indicators {
  margin-top: 130px;
}

.indicators-container {
  display: flex; /* Utilisez flexbox pour aligner les éléments côte à côte */
  justify-content: space-between; /* Espace entre les indicateurs */
}

.indicator {
  flex: 1; /* Permet de donner une taille égale à chaque indicateur */
  margin: 0 10px; /* Ajoute un petit espacement entre les indicateurs */
  text-align: left; /* Aligne le texte à gauche sous les icônes */
}

.indicator-content {
  display: flex; /* Utilise flexbox pour aligner l'icône et le texte */
  align-items: center; /* Centre verticalement les éléments */
}

.weather-icon {
  width: 50px; /* Ajustez la taille de l'icône si nécessaire */
  height: 50px; /* Ajustez la taille de l'icône si nécessaire */
  margin-right: 10px; /* Espace entre l'icône et le texte */
}

/* Animation pour faire apparaître les sections */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Ajouter une classe pour les animations */
.animate {
  animation: fadeIn 0.5s forwards; /* Appliquez l'animation */
}
