/* src/styles/Navbar.css */
.navbarRA {
    background-color: #81b3e6;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0px; /* Aligne la navbar après le sidebar */
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 45px;
  }
  
  .navbarRA h1 {
    margin: 0;
    font-family: Arial, sans-serif; /* Police de caractères */
    font-size: 25px; /* Taille du texte */
    font-weight: bold; /* Texte en gras */
  }
  
  .navbar-search-RA input {
    padding: 6px;
    font-size: 15px;
    border: none;
    border-radius: 8px; /* Ajouter des coins arrondis */
    max-width: 200px;
    margin-bottom: 3px;
    margin-right: 650px;
  }
  
  .navbar-links-RA a {
    text-decoration: none;
    color: rgb(47, 47, 51);
    margin-left: 25px; /* Espacement entre les icônes */
    font-size: 20px; /* Taille des icônes */
    display: inline-flex;
    align-items: center;
  }
  
  